form{
    border: 2px;
    width : 50%;
    margin : 100px auto;
    border-radius: 5px;
    text-align: center;
    box-shadow: 2px 2px 3px grey;
    padding: 35px 40px;
    display: block;
    box-sizing: content-box;
    
}
form input,
form select{
    width: 80%;
    padding: 10px;
    box-sizing: border-box;
    margin: 5px auto;
}
form div{
    margin: 5px;
    align-items: center;
}
form h2{
    background-color: midnightblue;
    color: white;
    padding: 5px auto;
    text-align: center;
    

}
input#userSubmitButton {
    width: 60%;
    padding: 7px;
}
form input[type=submit]{
    width: 26%;
    margin: auto;
    border-radius: 2px;
    display: block;
    font-size: 1.1rem;
    justify-content: center;
    background-color: lightpink ;
    color: white;
}
form select.option{
    width: 50%;
}
p{
    padding: 16px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
span{
    cursor: pointer;
    color: brown;
    margin: 5px;
}